
/*
  STYLE GUIDE STYLING
  Default styling for the style guide
  */

  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
     display: block;
   }

   ul {
     list-style: none;
   }
   blockquote, q {
     quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
     content: '';
     content: none;
   }
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
  font-family: 'Barlow', sans-serif;
  padding: 0;
  margin: 0;
  color:BLACK;
  line-height: 1.6em;
}
li{
  list-style: none;
}
header{
  color:#fff;
}

h1{
  color: #655ba0;
  font-size:40px;
}
h2{
  color: #7469b8;
  font-size:32px;
}
h3{
  color: #8578d2;
  font-size:26px;
}
h4{
  color: #a294f2;
  font-size:21px;
}
.comment{
  display:none;
}
/*https://www.youtube.com/watch?v=Wm6CUkswsNw*/
.container{
  width:90%;
  margin: auto;
  overflow: hidden;
}

.main-nav ul{
  display:flex;
  list-style: none;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0;
}

.main-nav ul li{
  padding-right: 2em;
}
.main-nav a{
  text-decoration: none;
  color: #655ba0;
}
/*https://stackoverflow.com/questions/1734618/how-to-increase-the-gap-between-text-and-underlining-in-css/37622323#targetText=The%20problem%20with%20using%20border,don't%20have%20complete%20control.&targetText=By%20changing%20the%20bottom%20property,exactly%20where%20you%20want%20it.*/
.main-nav a:hover{
  color: #cc8bad;
}
/*
.main-nav a:visited{
  color: #909090;
}
*/
.css-selector{
  width: 99%;
  margin-top:2em;
  margin-bottom:2em;
}
.css-selector h4{
  margin-top:0.5em;
  margin-bottom:0;
}
.css-selector p{
  margin-top: 0;
}
.sample-code{
  background-color: #655ba0;
  color: #ffffff;
  padding:0;
}

#introduction{
  /*https://www.w3schools.com/cssref/css3_pr_background-size.asp*/
  /*https://www.pexels.com/photo/green-pine-trees-covered-with-fogs-under-white-sky-during-daytime-167699/*/
  background:url('../images/home-page.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left;
  color:#fff;
  padding-top: 10em;
  padding-bottom: 10em;
  margin-bottom: 1em;
}

#introduction h1{
  color: #fff;
}
/*iat339 Week3 Lecture Notes*/
#introduction .container{
  display:flex;
  align-items: flex-start;
}

.h2-border{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #7469b8;
  margin-left: 0;
  width:25%;
  margin-bottom: 30px;
}
.in-text-link{
  text-decoration: none;
  color: #655ba0;
}
.in-text-link:hover{
  color: #cc8bad;
}
/*
.in-text-link:visited{
  color: #909090;
}
*/
/*https://css-tricks.com/solved-with-css-dropdown-menus/*/
.nav-link{
  margin-bottom: 9em;
}
.nav-link ul{
  list-style: none;
  padding-left: 0;
}
.nav-link li{
  display:block;
  float:left;
  transition-duration: 0.5s;
}
.nav-link li:hover {
  cursor: pointer;
}
.nav-link ul li ul {
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  padding-top: 0.5rem;
  transition: all 0.5s ease;
  display: none;
}

.nav-link ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-link ul li ul li {
  clear: both;
  width: 100%;
}
.nav-link a{
  text-decoration: none;
  color: #655ba0;
}
.nav-link a:hover{
  color: #cc8bad;
}
/*
.nav-link a:visited{
  color: #909090;
}
*/
input[type="button"]{
  background-color: #655ba0;
  color: #f9f6ef;
  padding: 5px 16px;
  border: none;
  outline:none;
}
input[type="button"]:hover{
  background-color: #cc8bad;
}
input[type="button"]:active{
  background-color: #909090;
}
/*https://codepen.io/lihs/pen/MEvzxr*/
#first-name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:32em;
  margin-bottom: 20px;
}
#first-name-input[type="text"]:focus{
  outline: none;
  border: 1px solid #655ba0;
  color: #655ba0;
  width:32em;
}
#last-name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:32em;
  margin-bottom: 20px;
}
#last-name-input[type="text"]:focus{
  outline: none;
  border: 1px solid #655ba0;
  color: #655ba0;
  width:32em;
}
.my-form textarea{
  padding-bottom: 50px;
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:32em;
}
.my-form textarea:focus{
  outline: none;
  border: 2px solid #655ba0;
  color: #655ba0;
  width:32em;
}
.overlay img{
  transition: 0.6s ease;
}
.overlay:hover img{
  opacity: 0.5;
  transition: .7s ease;
  transform: scale(1.2);

}
/*https://codepen.io/lucy_wheel/pen/VxYzKP*/
.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.image-box img {
    max-width: 100%;
    transition: all 1.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
  opacity: 0.6;
  transform: scale(1.15);
}


/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/
.radiobutton{
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 16px;
}
.radiobutton input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radiobutton:hover input ~ .checkmark{
  background-color: #ccc;
}
.radiobutton input:checked ~ .checkmark{
  background-color: #655ba0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobutton input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobutton .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #655ba0;
}
#interactive_elements img{
  width:98%;
}
.text-elements-title{
  padding-top: 50px;
}
#text_elements span{
  font-size:16px;
  float:right;
}

.element ol li{
  padding-left: 10px;
}
.combined-elements-title{
  padding-top: 50px;
}

.nav-box{
  display:flex;

}
.nav-box ul li{
  padding-right: 3.5em;
}

.image-flip{
  width: 200px;
  height: 260px;
  position: relative;
  display: inline-block;
  margin: 0;
}
.image-flip .image-top{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.image-flip:hover .image-top {
  display: inline;
  transition: .5s ease;
}

#Basic_Branding_Ideas{
  margin-top: 60px;
}

.proceed{
  padding-top: 15px;
  display:flex;
  justify-content: flex-end;
}

.colour-box img{
  max-width: 13%;
  height: auto;
}
.potential-image img{
  max-width: 50%;
  height:auto;
}
#Brand_Components{
  margin-top: 60px;
}

#citations{
  color:#9b9fa5;
  margin-top: 30px;
  border-top: 2px solid #655ba0;
}
#citations ul{
  list-style: none;
  padding-left:0;
  margin-bottom: 30px;
}
#citations li{
  display: block;
  padding-top: 0;
}
.font h4{
  color:#000;
}
.sidebar{
  position:fixed;
  left:3%;
}
.home-navigation{
  position:fixed;
  top:6%;

}
.sidebar-logo{
  position:fixed;
  top:35%;
}
.sidebar-img{
  display:block;
  max-width: 25%;
  height:auto;
  margin-bottom: 15px;

}
.navigation{
  position:fixed;
  bottom:5%;
}
.navigation li{
  margin-top: 5px;
}
.navigation a{
  text-decoration: none;
  color: #655ba0;
  font-weight: 600;
  font-size: 18px;
}
.navigation a:hover{
  color: #cc8bad;
  transition: 0.3s;
}
.logo{
  max-width: 22%;
  height: auto;
}
.body-container{
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 15%;
  margin-bottom: 5%;
}
.home-intro h1{
  font-size: 50px;
  margin-bottom: 5%;
}

.home-intro h2{
  color: #655ba0;
  font-size: 26px;
  line-height:40px;
}
.work-list{
  display:flex;
  margin-top: 10%;
}
.work-list1{
  margin-right: 30px;
}
.image{
  max-width: 100%;
  height: auto;
}
.home-page-image{
  margin-bottom:10%;
}
.intro-box{
  display:flex;
  align-items: flex-start;
}

.work-intro h1{
  margin-bottom: 5%;
  max-width: 50%;
  line-height: 45px;
}
.work-intro p{
  margin-top: 10%;
}
.work-paragraph{
  margin-left: 90px;
}
.work-final{
  margin-bottom:5%;
}

.steps{
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}
.prob{
  margin-top: 5%;
}
.final{
  margin-top: 5%;
}
.sketch{
  display:flex;
  margin-top: 5%;
}
.sketch img{
  max-width:50%;
  height:auto;
}

.border{
   border:1px solid #000;
}
.show-menu-button, .hide-menu-button{
  transition: 0.3s;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.show-menu-button{
  position:fixed;
  bottom:5%;
}

.menu a:hover, .show-menu-button:hover,
.hide-menu-button:hover{
  color:#cc8bad;
}

#check{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.about-intro h1{
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 3%;
}
.about-intro h2{
  color: #655ba0;
  font-size: 26px;
  line-height:40px;
  margin-bottom: 6%;
}
.about-intro h3{
  color: #655ba0;
  font-weight: 400;
  font-size: 20px;
  line-height:30px;
  margin-bottom: 6%;
}
.button-sub {
    font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  width:25%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  border:0;
  background-color: #655ba0;
  transition-duration: 0.5s;
}

.button-sub:hover {
 background-color: #cc8bad;
}

.button-sub:focus{
  background-color:#000;
}
@media screen and (max-width:1024px){
  .body-container{
    margin-top: 4%;
    margin-right: 10%;
  }
  .work-list{
    display:block;
  }
  .work-list1{
    margin-right: 0;
    margin-bottom: 5%;
  }
  @media screen and (max-width:768px){
    .body-container{
      margin-top: 6%;
      margin-left: 25%;
      margin-right: 5%;
    }
    .home-intro h1{
      font-size: 35px;
      margin-bottom: 7%;
    }

    .home-intro h2{
      color: #655ba0;
      font-size: 20px;
      line-height:25px;
    }
    .about-intro h1{
      font-size: 35px;
      margin-top:40%;
      margin-bottom: 8%;
    }

    .about-intro h2{
      color: #655ba0;
      font-size: 20px;
      line-height:25px;
      margin-bottom: 10%;
    }
    .about-intro h3{
      font-size: 15px;
      line-height:22px;
      margin-bottom: 13%;
    }
    .button-sub{
      width:50%;
    }
    .work-paragraph{
      line-height: 22px;
    }
    .intro-box{
      display:block;
    }
    .work-intro h1{
      max-width: 100%;
    }
    .work-intro p{
      margin-top:5%;
    }
    .steps{
      display:block;
    }
    .work-paragraph{
      margin-top:5%;
      margin-left: 0;
    }
    .show-menu-button, .hide-menu-button{
      display: block;
      color:#655ba0;
    }
    .sidebar{
      z-index: 9999;
    }
    .menu{
      /*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #655ba0;
      right: -100%;
      top:0;
      text-align: center;
      margin-top: 0;
      padding: 80px 0;
      line-height: normal;
      transition: 0.5s;
    }
    .menu a{
      color:white;
      display: block;
      padding: 25px;
      padding-right: 43px;
    }

    .hide-menu-button{
      position: absolute;
      color:white;
      bottom:30px;
      left: 20px;
    }
    #check:checked ~ .menu{
      right:0;
    }
    #check{
      display:none;
    }
    .logo{
      max-width: 17%;
      height: auto;
    }
    .sidebar-img{
      max-width: 22%;
    }

}
/*https://www.youtube.com/watch?v=RKL9Nkf1_N8*/
@media screen and (max-width: 1024px) {
  .main-nav ul{
    flex-direction: column;
    margin-bottom: 0;
  }
  .main-nav ul li {
    text-align: center;
    margin-bottom: 1em;
    width:100%;
  }
  .nav-box{
    justify-content: center;
  }
  .nav-box ul{
    flex-direction: column;
  }
  .nav-box ul li {
    text-align: center;
    margin-bottom: 2em;
  }
  .nav-box ul li ul li{
    display: none;
  }
  .nav-link{
    margin-bottom: 0;
  }

}
@media screen and (max-width: 645px) {
  .h2-border{
    width:99%;
  }
  #first-name-input[type="text"]{
    width:98%;
  }
  #first-name-input[type="text"]:focus{
    width:98%;
  }
  #last-name-input[type="text"]{
    width:98%;
  }
  #last-name-input[type="text"]:focus{
    width:98%;
  }
  .my-form textarea{
    width:98%;
  }
  .my-form textarea:focus{
    width:98%;
  }
  .colour-box img{
    max-width: 20%;
    height: auto;
  }
  .potential-image img{
    max-width: 100%;
    height:auto;
  }
}
@media screen and (min-width: 750px){
  #interactive_elements img{
    width:50%;
  }
}
@media screen and (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}
@media screen and (max-width: 551px) {
  .product-card {
    padding-left: 20%;
    flex: 1 21%;
  }
}
@media screen and (max-width: 670px) {

  .shopping-cart{
    margin: 0;
    padding-top: 20px;
  }

  .column-labels {
    display: none;
  }
  .product{
    padding-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(90,90,90);
    margin-left: 0;
    width:100%;
  }

#checkout-cart .product-image{
    display: none;
  }

  .product-price{
    display:none;
  }

  .product-details{
    flex:4;
  }
  .product-quantity{
    flex:2;
  }

  .quantity input {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    border: 1px solid #eee;
  }

  .product-line-price{
    flex:3;
  }
  .product-removal{
    flex:1;
  }

}
