* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
  font-family: 'Barlow', sans-serif;
  padding: 0;
  margin: 0;
  color:BLACK;
  line-height: 1.6em;
}
li{
  list-style: none;
}
header{
  color:#fff;
}
.big{
  font-size:30px;
  margin-bottom: 5%;
}
h1{
  color: #655ba0;
  font-size:40px;
    margin-bottom:5%;
}
h2{
  color: #7469b8;
  font-size:32px;
    margin-bottom:3%;
}
h3{
  color: #8578d2;
  font-size:26px;
  margin-bottom:2%;
}
h4{
  color: #a294f2;
  font-size:21px;
  margin-bottom:2%;
}
/*https://stackoverflow.com/questions/30855985/pure-css-animation-visibility-with-delay/30856455*/
.fadein {
  animation: 3s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.comment{
  display:none;
}
.css-selector{
  width: 99%;
  margin-top:2em;
  margin-bottom:2em;
}
.css-selector h4{
  margin-top:0.5em;
  margin-bottom:0;
}
.css-selector p{
  margin-top: 0;
}
.sample-code{
  background-color: #655ba0;
  color: #ffffff;
  padding:0;
    margin-top:0.5em;
}

#introduction{
  /*https://www.w3schools.com/cssref/css3_pr_background-size.asp*/
  /*https://www.pexels.com/photo/green-pine-trees-covered-with-fogs-under-white-sky-during-daytime-167699/*/
  background:url('../images/home-page.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left;
  color:#fff;
  padding-top: 10em;
  padding-bottom: 10em;
  margin-bottom: 1em;
}

.h2-border{
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.in-text-link{
  text-decoration: none;
  color: #655ba0;
}
.in-text-link:hover{
  color: #cc8bad;
}

input[type="button"]{
  background-color: #655ba0;
  color: #f9f6ef;
  padding: 5px 16px;
  border: none;
  outline:none;
}
input[type="button"]:hover{
  background-color: #cc8bad;
}
input[type="button"]:active{
  background-color: #909090;
}
.my-form{
  color:#655ba0;
}
.my-form-label{
  margin-bottom:1%;
}
/*https://codepen.io/lihs/pen/MEvzxr*/
#first-name-input[type="text"]{
  border-radius: 20px;
  border: 1px solid #655ba0;
  display:block;
  opacity: 0.5;
  width:80%;
  height: 2em;
  margin-bottom: 15px;
}
#first-name-input[type="text"]:focus{
    border-radius: 20px;
  outline: none;
  border: 1px solid #cc8bad;
  width:80%;
  height: 2em;
}
#last-name-input[type="text"]{
    border-radius: 20px;
  border: 1px solid #655ba0;
  display:block;
  opacity: 0.5;
  width:80%;
  height: 2em;
  margin-bottom: 15px;
}
#last-name-input[type="text"]:focus{
    border-radius: 20px;
  outline: none;
  border: 1px solid #cc8bad;
  width:80%;
  height: 2em;
}
#email-input[type="email"]{
    border-radius: 20px;
  border: 1px solid #655ba0;
  display:block;
  opacity: 0.5;
  width:80%;
  height: 2em;
  margin-bottom: 15px;
}
#email-input[type="email"]:focus{
    border-radius: 20px;
  outline: none;
  border: 1px solid #cc8bad;
  width:80%;
  height: 2em;
}
.my-form textarea{
    border-radius: 20px;
  padding-bottom: 100px;
  border: 1px solid #655ba0;
  display:block;
  opacity: 0.5;
  width:80%;
}
.my-form textarea:focus{
    border-radius: 20px;
  outline: none;
  border: 1px solid #cc8bad;
  width:80%;
}

/*https://codepen.io/lucy_wheel/pen/VxYzKP*/
.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.image-box img {
    max-width: 100%;
    transition: all 1.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
  opacity: 0.6;
  /*transform: scale(1.15);*/
}



/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/
.radiobutton{
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 16px;
}
.radiobutton input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radiobutton:hover input ~ .checkmark{
  background-color: #ccc;
}
.radiobutton input:checked ~ .checkmark{
  background-color: #655ba0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobutton input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobutton .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #655ba0;
}
#interactive_elements img{
  width:98%;
}
.text-elements-title{
  padding-top: 50px;
}
#text_elements span{
  font-size:16px;
  float:right;
}

.element ol li{
  padding-left: 10px;
}
.combined-elements-title{
  padding-top: 50px;
}

.nav-box{
  display:flex;

}
.nav-box ul li{
  padding-right: 3.5em;
}


#Basic_Branding_Ideas{
  margin-top: 60px;
}

.proceed{
  padding-top: 15px;
  display:flex;
  justify-content: flex-end;
}

.colour-box img{
  max-width: 13%;
  height: auto;
}
.potential-image img{
  max-width: 50%;
  height:auto;
}
#Brand_Components{
  margin-top: 60px;
}

#citations{
  color:#9b9fa5;
  margin-top: 30px;
  border-top: 2px solid #655ba0;
}
#citations ul{
  list-style: none;
  padding-left:0;
  margin-bottom: 30px;
}
#citations li{
  display: block;
  padding-top: 0;
}
.font h4{
  color:#000;
}
.sidebar{
  position:fixed;
  left:2%;
}
.home-navigation{
  position:fixed;
  top:1%;
}
.navigation{
  position:fixed;
  top:13%;
}
.navigation li{
  margin-top: 5px;
}
.navigation a{
  text-decoration: none;
  color: #655ba0;
  font-weight: 600;
  font-size: 18px;
}
.navigation a:hover{
  color: #cc8bad;
  transition: 0.3s;
}
.logo{
  max-width: 18%;
  height: auto;
}
.body-container{
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 8%;
  margin-bottom: 5%;
}
.home-intro h1{
  font-size: 50px;
  margin-bottom: 5%;
}

.home-intro h2{
  color: #655ba0;
  font-size: 26px;
  line-height:40px;
}
.work-list{
  display:flex;
  margin-top: 10%;
}
.work-list h3{
  color: #655ba0;
  margin-top: 5%;

}
.work-list1{
  margin-right: 30px;
}
.image{
  max-width: 100%;
  height: auto;
}
.home-page-image{
  margin-bottom:10%;
}
.home-page-image img{
  max-width: 100%;
  height: auto;
}
.intro-box{
  display:flex;
  align-items: flex-start;
}

.work-intro h1{
  margin-bottom: 5%;
  max-width: 50%;
  line-height: 45px;
}
.work-intro p{
  margin-top: 10%;
}

.steps{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}

.steps-title {
  flex-grow: 1;
}

.work-paragraph{
  flex-grow: 2;
  max-width: 66%;
  /* margin-left: 90px; */
}
.work-final{
  margin-bottom:5%;
}
.prob{
  margin-top: 5%;
}
.final{
  margin-top: 5%;
}
.sketch{
  margin-top: 5%;
}


.show-menu-button, .hide-menu-button{
  transition: 0.3s;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.show-menu-button{
  margin-top: 32px;
  float: right;
}

.menu a:hover, .show-menu-button:hover,
.hide-menu-button:hover{
  color:#cc8bad;
}

#check{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.about-intro h1{
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 3%;
}
.about-intro h2{
  color: #655ba0;
  font-size: 26px;
  line-height:40px;
  margin-bottom: 6%;
}
.about-intro h3{
  color: #655ba0;
  font-weight: 400;
  font-size: 20px;
  line-height:30px;
}
.contact-info h1{
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact-info h3{
    color: #655ba0;
    font-weight: 400;
    font-size: 20px;
    line-height:30px;
}
.contact-info a{
    text-decoration: none;
    color: #cc8bad;

  }
.contact-info a:hover{
    color: #655ba0;
  }
.contact-box{
    margin-top: 3%;
}
.button-sub {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  width:25%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  border:0;
  background-color: #655ba0;
  transition-duration: 0.5s;
    margin-top: 5%;
}

.button-sub:hover {
 background-color: #cc8bad;
}

.button-sub:focus{
  background-color:#000;
}
.contact_submit_button a{
  color:white;
}
.contact_submit_button a:hover{
  color:white;
}

@media screen and (max-width:1024px){
  .body-container{
    margin-top: 4%;
    margin-right: 10%;
  }
  .work-list{
    display:block;
  }
  .work-list1{
    margin-right: 0;
    margin-bottom: 5%;
  }
  .button-sub{
    margin-top: 5%;
  }
  .contact-info h1{
    margin-top:12%;
  }
  .show-menu-button, .hide-menu-button{
    display: block;
    color:#655ba0;
  }
  .sidebar{
    z-index: 9999;
  }
  .menu{
    /*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #655ba0;
    right: -100%;
    top:0;
    text-align: center;
    margin-top: 0;
    padding: 80px 0;
    line-height: normal;
    transition: 0.5s;
  }
  .menu a{
    color:white;
    display: block;
    padding: 25px;
    padding-right: 43px;
  }

  .hide-menu-button{
    position: absolute;
    color:white;
    bottom:30px;
    left: 20px;
  }
  #check:checked ~ .menu{
    right:0;
  }
  #check{
    display:none;
  }
}
  @media screen and (max-width:768px){
    .body-container{
      margin-top: 6%;
      margin-left: 20%;
      margin-right: 5%;
    }
    .home-page-image{
      display:none;
    }
    .home-intro h1{
      font-size: 35px;
      margin-bottom: 7%;
      margin-top:15%;
    }

    .home-intro h2{
      color: #655ba0;
      font-size: 20px;
      line-height:25px;
    }
    .work-list h3{
      color: #655ba0;
      font-size: 18px;
    }
    .about-intro h1{
      font-size: 35px;
      margin-top:15%;
      margin-bottom: 8%;
    }

    .about-intro h2{
      color: #655ba0;
      font-size: 20px;
      line-height:25px;
      margin-bottom: 10%;
    }
    .about-intro h3{
      font-size: 15px;
      line-height:22px;
      margin-bottom: 13%;
    }
    .contact-info h1{
      font-size: 28px;
      margin-top:15%;
      margin-bottom: 8%;
    }
    .contact-info h3{
      font-size: 15px;
      line-height:22px;
    }
    .button-sub{
      width:50%;
    }
    .work-paragraph{
      line-height: 22px;
      max-width: 100%;
    }
    .intro-box{
      display:block;
    }
    .work-intro h1{
      max-width: 100%;
    }
    .work-intro p{
      margin-top:5%;
    }
    .steps{
      display:block;
    }
    .work-paragraph{
      margin-top:5%;
      margin-left: 0;
    }
    .show-menu-button, .hide-menu-button{
      display: block;
      color:#655ba0;
    }
    .sidebar{
      z-index: 9999;
    }
    .menu{
      /*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #655ba0;
      right: -100%;
      top:0;
      text-align: center;
      margin-top: 0;
      padding: 80px 0;
      line-height: normal;
      transition: 0.5s;
    }
    .menu a{
      color:white;
      display: block;
      padding: 25px;
      padding-right: 43px;
    }

    .hide-menu-button{
      position: absolute;
      color:white;
      bottom:30px;
      left: 20px;
    }
    #check:checked ~ .menu{
      right:0;
    }
    #check{
      display:none;
    }
    .logo{
      max-width: 15%;
      height: auto;
    }

    .my-form textarea{
        border-radius: 20px;
      padding-bottom: 50px;
      border: 1px solid #655ba0;
      display:block;
      opacity: 0.5;
      width:100%;
    }
    .my-form textarea:focus{
        border-radius: 20px;
      outline: none;
      border: 1px solid #cc8bad;
      width:100%;
    }
    #first-name-input[type="text"]{
        border-radius: 20px;
      border: 1px solid #655ba0;
      display:block;
      opacity: 0.5;
      width:100%;
      height: 2em;
      margin-bottom: 15px;
    }

    #first-name-input[type="text"]:focus{
      border-radius: 20px;
      outline: none;
      border: 1px solid #cc8bad;
      width:100%;
      height: 2em;
    }
    #last-name-input[type="text"]{
        border-radius: 20px;
      border: 1px solid #655ba0;
      display:block;
      opacity: 0.5;
      width:100%;
      height: 2em;
      margin-bottom: 15px;
    }
    #last-name-input[type="text"]:focus{
        border-radius: 20px;
      outline: none;
      border: 1px solid #cc8bad;
      width:100%;
      height: 2em;
    }
    #email-input[type="email"]{
        border-radius: 20px;
      border: 1px solid #655ba0;
      display:block;
      opacity: 0.5;
      width:100%;
      height: 2em;
      margin-bottom: 15px;
    }

    #email-input[type="email"]:focus{
        border-radius: 20px;
      outline: none;
      border: 1px solid #cc8bad;
      width:100%;
      height: 2em;
    }
    .button-sub{
      width:100%;
      margin-top: 5%;
    }
}
/*https://www.youtube.com/watch?v=RKL9Nkf1_N8*/
@media screen and (max-width: 1024px) {
  .main-nav ul{
    flex-direction: column;
    margin-bottom: 0;
  }
  .main-nav ul li {
    text-align: center;
    margin-bottom: 1em;
    width:100%;
  }
  .nav-box{
    justify-content: center;
  }
  .nav-box ul{
    flex-direction: column;
  }
  .nav-box ul li {
    text-align: center;
    margin-bottom: 2em;
  }
  .nav-box ul li ul li{
    display: none;
  }
  .nav-link{
    margin-bottom: 0;
  }

}
@media screen and (max-width: 645px) {
  .h2-border{
    width:99%;
  }

  .colour-box img{
    max-width: 20%;
    height: auto;
  }
  .potential-image img{
    max-width: 100%;
    height:auto;
  }
}
@media screen and (min-width: 750px){
  #interactive_elements img{
    width:50%;
  }
}
